.gridContainer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 10vh 80vh 10vh;
    gap: 7px;
}

.header{
    background-color: blue;
    grid-column: 1/3 ;
    color: white;
}

.aside{
    background-color: green;
    grid-column: 1/2;
    grid-row: 2;
    color: white;
}

.main{
    background-color: red;
    grid-column: 2/3 ;
    grid-row: 2;
    color: white;
}

.footer{
    background-color: purple;
    grid-column: 1/3;
    color: white;
}